.debug-border {

  border: 1px solid #fff7;

  &.thick {
    border-width: 6px;
  }

  &.red {
    border-color: red;
  }

  &.dotted {
    border-style: dot-dash;
  }

}

.debug-outline {

  outline: 1px solid #fff7;

  &.thick {
    outline-width: 6px;
  }

  &.red {
    outline-color: red;
  }

  &.dotted {
    outline-style: dot-dash;
  }

}
